.dart_tool/
.idea/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
android/.gradle/
android/local.properties
android/key.properties
android/app/upload-keystore.jks
*.jks
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
*.iml
